<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OSBuild</key>
	<string>10.12.6:16G29</string>
	<key>appRecords</key>
	<array>
		<array>
			<string>AppRecord</string>
			<string>osascript</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>nbagent</string>
			<string>com.apple.nbagent</string>
			<string>1</string>
			<string>1.0</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.ncplugin.stocks</string>
			<string>com.apple.ncplugin.stocks</string>
			<string>23</string>
			<string>1.0</string>
			<integer>16</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AOSHeartbeat</string>
			<string>com.apple.AOSHeartbeat</string>
			<string>252</string>
			<string>1.07</string>
			<integer>10</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>LaterAgent</string>
			<string>com.apple.lateragent</string>
			<string>584</string>
			<string>1.0</string>
			<integer>15</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>talagent</string>
			<string>com.apple.talagent</string>
			<string></string>
			<string></string>
			<integer>10</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>cloudphotosd</string>
			<string>com.apple.cloudphotosd</string>
			<string>3161.4.140</string>
			<string>2.0</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>System Events</string>
			<string>com.apple.systemevents</string>
			<string>1.3.6</string>
			<string>1.3.6</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>NotificationCenter</string>
			<string>com.apple.notificationcenterui</string>
			<string>552.27</string>
			<string>1.0</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>FolderActionsDispatcher</string>
			<string>com.apple.FolderActionsDispatcher</string>
			<string>1</string>
			<string>1.0</string>
			<integer>23</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>CoreServicesUIAgent</string>
			<string>com.apple.coreservices.uiagent</string>
			<string>168.3</string>
			<string>168.3</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Finder</string>
			<string>com.apple.finder</string>
			<string>10.12.5</string>
			<string>10.12.5</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ARDAgent</string>
			<string>com.apple.RemoteDesktopAgent</string>
			<string>520.5.5</string>
			<string>3.9.4</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>loginwindow</string>
			<string>com.apple.loginwindow</string>
			<string>1745.4</string>
			<string>9.0</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Dock</string>
			<string>com.apple.dock</string>
			<string>1738.15</string>
			<string>1.8</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string></string>
			<string>com.apple.WebKit.Networking</string>
			<string>12603.3.8</string>
			<string>12603</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.iCal.CalendarNC</string>
			<string>com.apple.iCal.CalendarNC</string>
			<string>2155.21</string>
			<string>1.0</string>
			<integer>16</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>SystemUIServer</string>
			<string>com.apple.systemuiserver</string>
			<string>455.2</string>
			<string>1.7</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>OSDUIHelper</string>
			<string>com.apple.OSDUIHelper</string>
			<string>1</string>
			<string>1.0</string>
			<integer>13</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AirPlayUIAgent</string>
			<string>com.apple.AirPlayUIAgent</string>
			<string>320.18</string>
			<string>2.0</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotlight</string>
			<string>com.apple.Spotlight</string>
			<string>1075.40</string>
			<string>1.0</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.dock.extra</string>
			<string>com.apple.dock.extra</string>
			<string>1</string>
			<string>1.0</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.WebKit.Networking</string>
			<string>com.apple.WebKit.Networking</string>
			<string>12603.3.8</string>
			<string>12603</string>
			<integer>0</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>universalaccessd</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.ncplugin.weather</string>
			<string>com.apple.ncplugin.weather</string>
			<string>51</string>
			<string>1.0</string>
			<integer>16</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>WiFiAgent</string>
			<string>com.apple.wifi.WiFiAgent</string>
			<string>1200.47</string>
			<string>12.0</string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ViewBridgeAuxiliary</string>
			<string>com.apple.ViewBridgeAuxiliary</string>
			<string></string>
			<string></string>
			<integer>22</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Google Chrome</string>
			<string>com.google.Chrome</string>
			<string>3538.102</string>
			<string>70.0.3538.102</string>
			<integer>24</integer>
			<integer>5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>24</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>imklaunchagent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>24</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>iTerm2</string>
			<string>com.googlecode.iterm2</string>
			<string>3.2.5</string>
			<string>3.2.5</string>
			<integer>24</integer>
			<integer>19</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>19</integer>
		</array>
	</array>
	<key>appRecords_lastMas</key>
	<array/>
	<key>appsPerActivityPeriod</key>
	<array>
		<date>2018-11-18T20:56:05Z</date>
		<integer>2</integer>
		<array/>
	</array>
	<key>lastMorningLogDate</key>
	<date>2018-11-18T20:56:05Z</date>
	<key>lastWeeklyLogDate</key>
	<date>2018-11-18T20:56:05Z</date>
	<key>submissionScheduler</key>
	<array>
		<date>2018-11-19T00:07:25Z</date>
		<false/>
	</array>
	<key>systemRecord</key>
	<array>
		<string>SystemRecord</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<integer>24</integer>
		<integer>24</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>24</integer>
	</array>
</dict>
</plist>
