<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OSBuild</key>
	<string>10.12.6.1337:1337 OS Student Version Dump</string>
	<key>appRecords</key>
	<array>
		<array>
			<string>AppRecord</string>
			<string>QuickLookUIHelper</string>
			<string>com.apple.quicklook.ui.helper</string>
			<string>720.7</string>
			<string>5.0</string>
			<integer>41</integer>
			<integer>0</integer>
			<integer>9</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>VLC</string>
			<string>org.videolan.vlc</string>
			<string>3.0.3</string>
			<string>3.0.3</string>
			<integer>7918</integer>
			<integer>379</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>12</integer>
			<integer>3</integer>
			<integer>1400</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>FolderActionsDispatcher</string>
			<string>com.apple.FolderActionsDispatcher</string>
			<string>1</string>
			<string>1.0</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ARDAgent</string>
			<string>com.apple.RemoteDesktopAgent</string>
			<string>520.5.5</string>
			<string>3.9.4</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Spotlight</string>
			<string>com.apple.Spotlight</string>
			<string>1075.40</string>
			<string>1.0</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AOSHeartbeat</string>
			<string>com.apple.AOSHeartbeat</string>
			<string>252</string>
			<string>1.07</string>
			<integer>29</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>loginwindow</string>
			<string>com.apple.loginwindow</string>
			<string>1745.4</string>
			<string>9.0</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Finder</string>
			<string>com.apple.finder</string>
			<string>10.12.5</string>
			<string>10.12.5</string>
			<integer>12607</integer>
			<integer>366</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>20</integer>
			<integer>4</integer>
			<integer>2652</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>talagent</string>
			<string>com.apple.talagent</string>
			<string></string>
			<string></string>
			<integer>14</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>universalaccessd</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>28</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ScreenSaverEngine</string>
			<string>com.apple.ScreenSaver.Engine</string>
			<string>5.0</string>
			<string>5.0</string>
			<integer>2672</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Code Helper</string>
			<string>com.microsoft.VSCode.helper</string>
			<string></string>
			<string></string>
			<integer>2127</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>OutputDeviceMenuService</string>
			<string>com.apple.AVKit.OutputDeviceMenuService</string>
			<string>356.12</string>
			<string>1.0</string>
			<integer>469</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Preview</string>
			<string>com.apple.Preview</string>
			<string>909.18</string>
			<string>9.0</string>
			<integer>1121</integer>
			<integer>45</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>645</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Dock</string>
			<string>com.apple.dock</string>
			<string>1738.15</string>
			<string>1.8</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>NotificationCenter</string>
			<string>com.apple.notificationcenterui</string>
			<string>552.27</string>
			<string>1.0</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>CoreServicesUIAgent</string>
			<string>com.apple.coreservices.uiagent</string>
			<string>168.3</string>
			<string>168.3</string>
			<integer>12587</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ViewBridgeAuxiliary</string>
			<string>com.apple.ViewBridgeAuxiliary</string>
			<string></string>
			<string></string>
			<integer>10714</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>TMHelperAgent</string>
			<string>com.apple.TMHelperAgent</string>
			<string>10.9</string>
			<string>10.9</string>
			<integer>315</integer>
			<integer>0</integer>
			<integer>5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>touristd</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>308</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>ViewBridgeAuxiliary</string>
			<string>com.apple.ViewBridgeAuxiliary</string>
			<string></string>
			<string></string>
			<integer>1891</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>cloudphotosd</string>
			<string>com.apple.cloudphotosd</string>
			<string>3161.4.140</string>
			<string>2.0</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>System Preferences</string>
			<string>com.apple.systempreferences</string>
			<string>14.0</string>
			<string>14.0</string>
			<integer>68</integer>
			<integer>68</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>68</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>talagent</string>
			<string>com.apple.talagent</string>
			<string></string>
			<string></string>
			<integer>5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>LaterAgent</string>
			<string>com.apple.lateragent</string>
			<string>584</string>
			<string>1.0</string>
			<integer>12590</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>universalaccessd</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>19</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>SystemUIServer</string>
			<string>com.apple.systemuiserver</string>
			<string>455.2</string>
			<string>1.7</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>nbagent</string>
			<string>com.apple.nbagent</string>
			<string>1</string>
			<string>1.0</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>iTerm2</string>
			<string>com.googlecode.iterm2</string>
			<string>3.2.0</string>
			<string>3.2.0</string>
			<integer>1864</integer>
			<integer>701</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>10</integer>
			<integer>1</integer>
			<integer>1374</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.preference.displays.AirPlayDeviceMenuService</string>
			<string>com.apple.preference.displays.AirPlayDeviceMenuService</string>
			<string>93.5</string>
			<string>1.0</string>
			<integer>46</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.preference.security.remoteservice</string>
			<string>com.apple.preference.security.remoteservice</string>
			<string>1</string>
			<string>1.0</string>
			<integer>9</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Google Chrome</string>
			<string>com.google.Chrome</string>
			<string>3497.92</string>
			<string>69.0.3497.92</string>
			<integer>12587</integer>
			<integer>2372</integer>
			<integer>2</integer>
			<integer>6</integer>
			<integer>1</integer>
			<integer>16</integer>
			<integer>8</integer>
			<integer>3716</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>GoogleSoftwareUpdateAgent</string>
			<string>com.google.Keystone.Agent</string>
			<string>1.2.11.124</string>
			<string>1.2.11</string>
			<integer>56</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.preference.sound.remoteservice</string>
			<string>com.apple.preference.sound.remoteservice</string>
			<string>1</string>
			<string>1.0</string>
			<integer>23</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.dock.extra</string>
			<string>com.apple.dock.extra</string>
			<string>1</string>
			<string>1.0</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>AirPlayUIAgent</string>
			<string>com.apple.AirPlayUIAgent</string>
			<string>320.18</string>
			<string>2.0</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.ncplugin.stocks</string>
			<string>com.apple.ncplugin.stocks</string>
			<string>23</string>
			<string>1.0</string>
			<integer>32</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>QuickTime Player</string>
			<string>com.apple.QuickTimePlayerX</string>
			<string>894.12</string>
			<string>10.4</string>
			<integer>7264</integer>
			<integer>392</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>9</integer>
			<integer>2</integer>
			<integer>896</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>imklaunchagent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>10715</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>UserEventAgent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>1873</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.ncplugin.weather</string>
			<string>com.apple.ncplugin.weather</string>
			<string>51</string>
			<string>1.0</string>
			<integer>32</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>imklaunchagent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>1892</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.iCal.CalendarNC</string>
			<string>com.apple.iCal.CalendarNC</string>
			<string>2155.21</string>
			<string>1.0</string>
			<integer>33</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>com.apple.WebKit.Networking</string>
			<string>com.apple.WebKit.Networking</string>
			<string>12603.3.8</string>
			<string>12603</string>
			<integer>2</integer>
			<integer>0</integer>
			<integer>70</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>UserEventAgent</string>
			<string></string>
			<string></string>
			<string></string>
			<integer>10687</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>Electron</string>
			<string>com.microsoft.VSCode</string>
			<string>1.27.2</string>
			<string>1.27.2</string>
			<integer>10711</integer>
			<integer>2064</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>2440</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string></string>
			<string>com.apple.SecurityAgent</string>
			<string>55308.50.16</string>
			<string>9.0</string>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>WiFiAgent</string>
			<string>com.apple.wifi.WiFiAgent</string>
			<string>1200.47</string>
			<string>12.0</string>
			<integer>12607</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<string>AppRecord</string>
			<string>OSDUIHelper</string>
			<string>com.apple.OSDUIHelper</string>
			<string>1</string>
			<string>1.0</string>
			<integer>11571</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</array>
	<key>appRecords_lastMas</key>
	<array/>
	<key>appsPerActivityPeriod</key>
	<array>
		<date>2018-10-24T02:52:52Z</date>
		<integer>7</integer>
		<array>
			<integer>3</integer>
			<integer>4</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>3</integer>
		</array>
	</array>
	<key>lastMorningLogDate</key>
	<date>2018-10-24T02:52:52Z</date>
	<key>lastWeeklyLogDate</key>
	<date>2018-10-24T02:52:52Z</date>
	<key>submissionScheduler</key>
	<array>
		<date>2018-10-24T23:52:22Z</date>
		<false/>
	</array>
	<key>systemRecord</key>
	<array>
		<string>SystemRecord</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<integer>12607</integer>
		<integer>6387</integer>
		<integer>2</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>8</integer>
		<integer>2</integer>
		<integer>7967</integer>
	</array>
</dict>
</plist>
